body {
  font-family: 'Poppins', sans-serif;
  display: block;
  
}

html {
  scroll-behavior: smooth;
}

/* Bootstrap Navbar Styling */

.nav {
  height: 100px;
  background: lightgray;
  position: relative;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  z-index: 99999;
  color: black;
}

a {
  color: black;
}

a:hover {
  color: grey;
}

.navbar {
  background: lightgray;
}

.nav-item {
  width: 170px;
  display: inline-block;
  padding: 10px 10px 10px 10px;
  font-size: larger;
  background: white;
  border-radius: 25px;
  margin-left: 25px;
  margin-right: 25px;
}

.nav-item .nav-link {
  color: black;
  font-family: 'Poppins', sans-serif;
}

.navbar-brand {
  padding-left: 15px;
  justify-content: center;
}

.nav-left {
  margin-top: 27px;
  text-align: center;
}

#logo {
  height: 90px;
  width: 90px;
  margin: 5px;
}

.nav-right {
  margin-top: 27px;
  text-align: center
}

/*Content */
.section3 a {
  font-weight: bolder;
}

.section3 {
  margin-bottom: 40px;
}

/* .section3-headers {
  height: 8vh;
} */

.section3 img {
  width: 80%;
  margin: 10px;
}

.section3 p {
  text-align: center;
}

.op-hours {
  background-color: white; 
  text-align: center; 
  padding: 20px;
}

.getting-here {
  background-color: white; 
  text-align: center; 
  padding: 20px;
}

.get-here-left {
  text-align: right;
  padding-right: 5px;
}

.get-here-right {
  text-align: left;
  padding-left: 6px;
}

.bus {
  border: 1px solid black;
}

.fac {
  background: white; 
  text-align: center; 
  padding: 20px;
}

.get-here-left {
    text-align: right;
    padding-right: 5px;
}

.get-here-right {
    text-align: left;
    padding-left: 6px;
}

.bus {
    border: 1px solid black;
}

.fac {
    background: white; 
    text-align: center; 
    padding: 20px;
}

.promos {
  background: white; 
  text-align: center; 
  padding: 20px;
}
/*Footer Styling  */

.footer {
  background: lightgray;
  padding: 10px 0px 10px 0px;
  width: 100%;
  position: relative;
  margin-top: 50px;
}

.footer-links {
  font-size: small;
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.footer-left {
  vertical-align: middle;
}

.footer-right {
  vertical-align: middle;
}

.socials {
  float: right;
  margin-top: 11px;
}

table.socials {
  width: 150px;
  text-align: center;
}








/* attractions.html  */

/* Style the list */

ul.breadcrumb {
  padding: 10px 10px;
  list-style: none;
  position:fixed;
  background-color: transparent;
  top:0;
  width:100%;
  margin-top: 115px;
}

/* Display list items side by side */

ul.breadcrumb li {
  display: inline;
  font-size: 14px;
}

/* Add a slash symbol (/) before/behind each list item */

ul.breadcrumb li+li:before {
  padding: 4px;
  color: black;
  content: ">\00a0";
}

/* Add a color to all links inside the list */

ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */

ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

.Title {
  margin-top: 45px;
  position: relative;
  margin-bottom: 45px;
}

.row:after {
  width: 33.33%;
}

.map-element img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.map-context {
  display: flex;
  margin-left: 20%;
  width: 60%;
}

.map-boxinfo {
  flex: 50%;
  position: relative;
  float: left;
  padding: 2%;
  justify-content: center;
}

.container-ride {

}

.opdata td {
  padding-right: 20px;
}

.opdata th {
  padding-right: 20px;
}


#myBtn {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Fixed/sticky position */
  bottom: 20px;
  /* Place the button at the bottom of the page */
  right: 30px;
  /* Place the button 30px from the right */
  z-index: 99;
  /* Make sure it does not overlap */
  border: none;
  /* Remove borders */
  outline: none;
  /* Remove outline */
  background-color: grey;
  /* Set a background color */
  color: white;
  /* Text color */
  cursor: pointer;
  /* Add a mouse pointer on hover */
  padding: 15px;
  /* Some padding */
  border-radius: 50%;
  /* Rounded corners */
  font-size: 22px;
  /* Increase font size */
}

#myBtn:hover {
  background-color: #555;
  /* Add a dark-grey background on hover */
}