
body {
    font-family: 'Poppins', sans-serif;
    display: block;
}

.nav {
    height: 100px;
    background: lightgray;
    position: fixed;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    z-index: 99999;
}

a {
    color: black;
}

a:hover {
<<<<<<< Updated upstream
    color: grey;
=======
  color: grey; 
}

.navbar {
  background: lightgray;
}

.nav-item {
  width: 170px;
  display: inline-block;
  font-size: larger;
  background: white;
  border-radius: 25px;
  margin-left: 25px;
  margin-right: 25px;
}

.nav-item .nav-link {
  color: black;
  font-family: 'Poppins', sans-serif;
>>>>>>> Stashed changes
}

.nav-button {
    width: 132px;
    display: inline-block; 
    padding: 10px 20px 10px 20px; 
    background: white;
    border-radius: 25px;
}

.nav-left {
    margin-top: 27px; 
    text-align: center;
}

#logo {
    height: 90px; 
    width: 90px;
    margin: 5px;
}

.nav-right {
    margin-top: 27px;
    text-align: center
}

.section3 a {
    font-weight: bolder;
}

.section3 {
    margin-bottom: 40px;
}

/* .section3-headers {
    height: 8vh;
} */

.section3 img {
    width: 80%;
    margin: 10px;
}

.section3 p {
    text-align: center;
}

.op-hours {
    background-color: white; 
    text-align: center; 
    padding: 20px;
}

.getting-here {
    background-color: white; 
    text-align: center; 
    padding: 20px;
}

.get-here-left {
    text-align: right;
    padding-right: 5px;
}

.get-here-right {
    text-align: left;
    padding-left: 6px;
}

.bus {
    border: 1px solid black;
}

.fac {
    background: white; 
    text-align: center; 
    padding: 20px;
}

.promos {
    background: white; 
    text-align: center; 
    padding: 20px;
}

.footer {
    background: lightgray; 
    padding: 10px 0px 10px 0px;
}

.footer-links {
    font-size: small; 
    list-style: none; 
    padding-left: 0; 
    margin-bottom: 0;
}

.footer-left {
    vertical-align: middle;
}

.footer-right {
    vertical-align: middle;
}

.socials {
    float: right; 
    margin-top: 11px;
}

table.socials {
    width: 150px;
    text-align: center;
}