
body {
    font-family: 'Poppins', sans-serif;
    display: block;
}

.nav {
    height: 100px;
    background: lightgray;
    position: relative;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    z-index: 99999;
}

a {
    color: black;
}

a:hover {
    color: grey;
}

.nav-button {
    width: 132px;
    display: inline-block; 
    padding: 10px 20px 10px 20px; 
    background: white;
    border-radius: 25px;
}

.nav-left {
    margin-top: 27px; 
    text-align: center;
}

#logo {
    height: 90px; 
    width: 90px;
    margin: 5px;
}

.nav-right {
    margin-top: 27px;
    text-align: center
}

.info a {
    font-weight: bolder;
}

.info {
    margin-bottom: 40px;
}

/* .info-headers {
    height: 8vh;
} */

.info img {
    width: 80%;
    margin: 10px;
}

.info p {
    text-align: center;
}

.op-hours {
    background-color: white; 
    text-align: center; 
    padding: 20px;
}

.getting-here {
    background-color: white; 
    text-align: center; 
    padding: 20px;
}

.promos {
    background: white; 
    text-align: center; 
    padding: 20px;
}

.footer {
    background: lightgray; 
    padding: 10px 0px 10px 0px;
}

.footer-links {
    font-size: small; 
    list-style: none; 
    padding-left: 0; 
    margin-bottom: 0;
}

.footer-left {
    vertical-align: middle;
}

.footer-right {
    vertical-align: middle;
}

.socials {
    float: right; 
    margin-top: 11px;
}

table.socials {
    width: 150px;
    text-align: center;
}


/* attractions.html  */

/* Style the list */
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  position: absolute;
  background-color: lightgray;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 12px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 4px;
  color: black;
  content: ">\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

/* Create three equal columns that floats next to each other */
.column {
    margin-top:55px;
    position: relative;
    float: left;
    padding: 5%;
    width: 33.33%;
    justify-content: center;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }

}