
body {
    font-family: 'Poppins', sans-serif;
    margin-left: 15px;
    margin-right: 15px;
}

/* Tempory margin fix because I'm not sure why my columns are going off screen. */

.nav {
    height: 100px;
    background: lightgray;
    position: relative;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    z-index: 99999;
}

a {
    color: black;
}

a:hover {
    color: grey;
}

.nav-button {
    width: 132px;
    display: inline-block; 
    padding: 10px 20px 10px 20px; 
    background: white;
    border-radius: 25px;
}

.nav-left {
    margin-top: 27px; 
    text-align: center;
}

#logo {
    height: 90px; 
    width: 90px;
    margin: 5px;
}

.nav-right {
    margin-top: 27px;
    text-align: center
}

/*Footer Styling  */

.footer {
    background: lightgray; 
    padding: 10px 0px 10px 0px;
    width: 100%;
    position: relative;
    margin-top: 50px;
}

.footer-links {
    font-size: small; 
    list-style: none; 
    padding-left: 0; 
    margin-bottom: 0;
}

.footer-left {
    vertical-align: middle;
}

.footer-right {
    vertical-align: middle;
}

.socials {
    float: right; 
    margin-top: 11px;
}

table.socials {
    width: 150px;
    text-align: center;
}















/* attractions.html  */

/* Style the list */
ul.breadcrumb {
  padding: 10px 10px;
  list-style: none;
  position: absolute;
  background-color: lightgray;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 14px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 4px;
  color: black;
  content: ">\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

.eventsTitle {
    margin-top: 35px;
    position: relative;
    margin-left: 7px;
}

.mapElement img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.mapTitle {
    position: relative;
    margin-left: 7px;
}

.mapContext {
    display: flex;
  }
  
  .mapBoxInfo {
    flex: 50%;
    position: relative;
    float: left;
    padding: 2%;
    justify-content: center;
    
  }

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    padding: 35px;
    border: 1px solid #000000;
    position: relative;
    max-width: fit-content;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
    position: relative;
    width: 100%;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width:600px) {
    .column {
      width: 100%;
    }
  }

.attractionsTitle {
    margin-top: 35px;
    position: relative;
    margin-left: 7px;
}

.facTitle {
    margin-top: 35px;
    position: relative;
    margin-left: 7px;
}

.facInfo {
    float: left;
    width: 25%;
    padding: 25px;
    justify-content: center;
    margin-top: 1px;
    position: relative;
  }
  
  /* Clear floats after the columns */
  .facInfo:after {
        content: "";
        display: table;
        clear: both;
        position: relative;
        height: 100px;
        padding-bottom: 20%;
  }