/* Global styling */

    body {
        font-family: 'Poppins', sans-serif;
        display: block;
        background: transparent;
    }

    html {
        scroll-behavior: smooth;
    }

    .container {
        margin-top: 50px;
    } 

    a {
        color: #E64398;
    }

/* navigation bar stylings */

    .nav {
        height: 100px;
        width: 100%;
        position: relative;
        font-family: 'Poppins', sans-serif;
        z-index: 99999;
        color: black;
    }

    .navbar {
        background: #F172A1;
        padding: 0px;
    }

    @media (max-width: 991px) {
        .navbar-nav>li {
          border-radius: 0px;
          width: 100%;
          margin-left: 0px;
        }
    }

    .nav-item {
        width: 170px;
        font-size: larger;
        text-align: center;
        background: white;
        border-radius: 25px;
        margin: 0px 15px;
    }

    .nav-item a:hover {
        color: #E64398;
    }

    .nav-item:last-child {
        background: #A1C3D1;
    }

    /* navbar buttons text */
    .navbar-light .navbar-nav .nav-link {
        color: black;
    }

    .navbar-toggler {
        margin: 0px 0px 0px 20px;
    }

    .navbar-brand {
        padding-left: 15px;
        justify-content: center;
    }

    #logo {
        height: 90px;
        width: 90px;
        padding: 5px;
    }

/* breadcrumb styling */

ul.breadcrumb {
    padding: 10px 10px;
    list-style: none;
    position: relative;
    background-color: transparent;
    top: 0;
    width: 100%;
    margin-top: 5px;
  }
  
  /* Display list items side by side */
  
  ul.breadcrumb li {
    display: inline;
    font-size: 14px;
  }
  
  /* Add a slash symbol (/) before/behind each list item */
  
  ul.breadcrumb li+li:before {
    padding: 4px;
    color: black;
    content: ">\00a0";
  }
  
  /* Add a color to all links inside the list */
  
  ul.breadcrumb li a {
    color: #E64398;
    text-decoration: none;
  }
  
  /* Add a color on mouse-over */
  
  ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
  }

/* scroll to top button */

    #myBtn {
        position: fixed;
        bottom: 5px;
        right: 30px;
        z-index: 99;
        border: none;
        background-color: white;
        cursor: pointer;
        border-radius: 50%;
        padding: 0%;
    }
    
    #myBtn:hover {
        background-color: #A1C3D1;
    }

/* footer styling  */

    .footer {
        background: #F172A1;
        padding: 10px 0px 10px 0px;
        width: 100%;
        position: relative;
        margin-bottom: 0px;
    }
    
    .footer .container {
        margin-top: 0px;
        background: #F172A1;
    }
    
    .footer .row {
        margin-top: 0px;
        padding: 0px, 0px, 0px, 0px;
        background: none;
    }
    
    .footer-links {
        font-size: small;
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;
    }
    
    .footer-left {
        vertical-align: middle;
    }

    .footer a {
        color: black;
    }
    
    .footer-right {
        vertical-align: middle;
    }
    
    .socials {
        float: right;
        margin-top: 11px;
    }
    
    table.socials {
        width: 150px;
        text-align: center;
    }
    
    .privacypolicy {
        padding: 25px;
    }  

/* Index page styling */

    /* carousel styling */
    .carousel {
        overflow: hidden;
    }

    /* quick information styling */
    .quick-info {
        text-align: center;
        margin-bottom: 0px;
    }

    .quick-info .col-sm {
        padding: 10px;
        border-style: dotted;
        border-width: 1px;
        border-radius: 5px;
        border-color: #E64398;
        margin: 10px;
    }

    .quick-info img {
        border-radius: 50%; 
        width: 70%;
        padding: 10px 0px;
    }

    .quick-info ul {
        list-style: none;
        padding-left: 0px;
    }

    .quick-info b {
        font-weight: 600;
    }

    /* snippets styling */
    .snippet img {
        width: 100%;
    }

    .snippet .row:last-of-type {
        margin-top: 40px;
    }

    /* events styling */
    .events-preview h3 {
        text-align: center;
      }
    
    .events-preview h4 {
    padding-top: 10px;
    }

    .events-preview img {
        width: 100%;
      }

    /* about us styling */
    .aboutus {
        text-align: center;
        margin-bottom: 40px;
    }

    .aboutus img {
        width: 100%; 
        border-radius: 25px;
        margin: 5px 0px 20px 0px;
    }

/* Attractions page styling */

    .map {
        margin-top: 0px;
    }

    .map ul {
        padding-left: 20px;
    }

    .map img {
        width: 100%;
    }

    .famous-rides {
        text-align: center;
        margin-bottom: 40px;
    }

    .famous-rides .row {
        margin-top: 20px;
    }

    .famous-rides .col-md {
        padding: 5px 50px;
    }

    .famous-rides img {
        width: 100%; 
        border-radius: 25px;
    }

    .famous-rides h4 {
        margin: 10px 0px;
    }

    .famous-rides ul {
        padding-left: 0px; 
        list-style: none;
    }

/* Information page styling */

    .directions {
        margin-top: 0px;
    }

    .directions img {
        width: 100%;
    }

    .directions ul {
        list-style: none;
        padding-left: 0px;
    }

    .facilities .row {
        margin-top: 20px;
    }

    .facilities .col-md {
        margin: 10px 0px;
    }

    .facilities img {
        width: 100%; 
        border-radius: 25px;
        margin-bottom: 15px;
    }

    .support {
        margin-bottom: 60px;
    }

/* Bookings page styling */

    .promo-header {
        margin-top: 10px; 
        text-align: center;
    }

    .coupons .col-md {
        margin: 10px; 
        border-style: solid; 
        border-width: 1px;
    }

    .coupons h4 {
        padding-top: 10px;
    }
    
    h5 {
        padding-top: 10px;
    }

    .bundles .col-md {
        margin: 10px; 
        border-style: solid; 
        border-width: 1px;
    }

    button {
        margin-bottom: 15px;
    }

    .tickets .col-md {
        margin: 10px; 
        border-style: solid; 
        border-width: 1px;
    }
